{% extends 'layout.html' %} 

{% set allClassesQuery = (data['s-lodged-all'] | int) > [data['s-withdrawn-all'], data['s-heard-all']] | stringSum %}
{% set allClassesError = (data['s-lodged-all'] | int) < [data['s-withdrawn-all'], data['s-heard-all']] | stringSum %}

{% set allClassesFine = not allClassesQuery and not allClassesError %}

{% set hasAllError = data['allQueryError'] == 'true' %}

{% block pageTitle %} Check the total number of
appeals {% endblock %} {% block beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="/validate-queries" method="post">

             {% if hasAllError %}

                {{ govukErrorSummary({
                    titleText: 'There is a problem',
                    errorList: [
                        {
                            text: 'You must give a reason why there are unresolved appeals',
                            href: '#p-lodged-query-all-error'
                        } if hasAllError
                    ]
                }) }}

            {% endif %}


			<span class="govuk-caption-xl">Secondary schools</span>
			<h1 class="govuk-heading-xl">
				Check the appeals that were withdrawn or heard by an appeals panel
				against the total that were lodged
			</h1>

			{{ govukSummaryList ({
                rows: [
                    {
                        key: {
                            text: 'Withdrawn'
                        },
                        value: {
                            text: data['s-withdrawn-all']
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    classes: 'govuk-link--no-visited-state',
                                    href: 'withdrawn.html?from-s-lodged-totals=true',
                                    visuallyHiddenText: 'withdrawn'
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: 'Heard'
                        },
                        value: {
                            text: data['s-heard-all']
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    classes: 'govuk-link--no-visited-state',
                                    href: 'heard.html?from-s-lodged-totals=true',
                                    visuallyHiddenText: 'heard'
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: 'Total actioned'
                        },
                        value: {
                            text: [data['s-withdrawn-all'], data['s-heard-all']] | stringSum
                        }
                    }
                }
            }) }}

            {{ govukSummaryList ({
                rows: [
                    {
                        key: {
                            text: 'Total lodged'
                        },
                        value: {
                            text: data['s-lodged-all']
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    classes: 'govuk-link--no-visited-state',
                                    href: 'lodged.html?from-s-lodged-totals=true',
                                    visuallyHiddenText: 'total lodged'
                                }
                            ]
                        }
                    }
                }
            }) }}

            <input type="hidden" name="success-page" value="{{ '#root#/secondary/check-outcomes.html' if data['from-s-outcome-totals'] == 'true' else '#root#/secondary/in-favour.html' }}">


            {% if not allClassesFine %}

                {% if allClassesQuery %}

                    {% if not allClassesError and not infantClassesError %}

                        {{ govukTextarea({
                            id: 's-lodged-query-all',
                            name: 's-lodged-query-all',
                            value: data['s-lodged-query-all'] if data['s-lodged-query-all'] else '',
                            errorMessage: {
                                text: 'You must give a reason why there are unresolved appeals'
                            } if hasAllError,
                            label: {
                                text: 'Explain why there were ' + (data['s-lodged-all'] | int - [data['s-withdrawn-all'], data['s-heard-all']] | stringSum) + ' unresolved appeals'
                            }
                        }) }}

                        {{
                            govukButton({
                                html: 'Continue'
                            })
                        }}

                    {% endif %}

                {% endif %}

                {% if allClassesError %}

                    {{ govukErrorMessage({
                        text: 'There cannot be more appeals actioned than the total number lodged, you must fix this before you can continue',
                        visuallyHiddenText: 'Error'
                    }) }}

                {% endif %}

            {% else %}
            

                {{
                    govukButton({
                        html: 'Continue'
                    })
                }}

            {% endif %}

		</form>
	</div>
</div>

{% endblock %}
