{% extends 'layout.html' %} {% block pageTitle %} How many appeals were decided
in favour of parents? {% endblock %} {% block beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form
			action="{{ 'check-outcomes.html' if data['from-s-outcome-totals'] == 'true' else 'rejected.html' }}"
		>
			<span class="govuk-caption-xl">Secondary schools</span>
			<h1 class="govuk-heading-l">
				How many appeals were decided in favour of parents?
			</h1>

			{{
				govukInsetText({
					text:
						'Only tell us about schools which will be voluntary-controlled or community schools on 16 January 2020.'
				})
			}}

			{{ govukInput ({
                    id: 's-in-favour-all',
                    name: 's-in-favour-all',
                    value: data['s-in-favour-all'] if data['s-in-favour-all'] else '',
                    classes: 'govuk-input--width-5',
                    label: {
                        text: 'For all secondary school classes'
                    }
                }) }}

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

{% endblock %}
