{% extends 'layout.html' %} {% block pageTitle %} How many of these lodged
appeals were withdrawn before reaching an appeals panel? {% endblock %} {% block
beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form
			action="{{ 'check-lodged.html' if data['from-s-lodged-totals'] == 'true' else 'heard.html' }}"
		>
			<span class="govuk-caption-xl">Secondary schools</span>
			<h1 class="govuk-heading-l">
				How many of the appeals lodged were withdrawn before reaching an appeals
				panel
			</h1>

			<p>
				Include appeals that were no longer needed because a school place was
				offered before a hearing.
			</p>

			{{
				govukInsetText({
					text:
						'Only tell us about schools which will be voluntary-controlled or community schools on 16 January 2020.'
				})
			}}

			{{ govukInput ({
                    id: 's-withdrawn-all',
                    name: 's-withdrawn-all',
                    value: data['s-withdrawn-all'] if data['s-withdrawn-all'] else '',
                    classes: 'govuk-input--width-5',
                    label: {
                        text: 'For all secondary school classes'
                    }
                }) }}

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

{% endblock %}
