{% extends 'layout.html' %}

{% set allClassesQuery = (data['p-lodged-all'] | int) > [data['p-withdrawn-all'], data['p-heard-all']] | stringSum %}
{% set allClassesError = (data['p-lodged-all'] | int) < [data['p-withdrawn-all'], data['p-heard-all']] | stringSum %}

{% set allClassesFine = not allClassesQuery and not allClassesError %}

{% set infantClassesQuery = (data['p-lodged-infant'] | int) > [data['p-withdrawn-infant'], data['p-heard-infant']] | stringSum %}
{% set infantClassesError = (data['p-lodged-infant'] | int) < [data['p-withdrawn-infant'], data['p-heard-infant']] | stringSum %}

{% set infantClassesFine = not infantClassesQuery and not infantClassesError %}

{% set hasAllError = data['allQueryError'] == 'true' %}
{% set hasInfantError = data['infantQueryError'] == 'true'  %}

{% block pageTitle %}
    Check the total number of appeals
{% endblock %}

{% block beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="/validate-queries" method="post">

                {% if hasAllError or hasInfantError %}

                    {{ govukErrorSummary({
                        titleText: 'There is a problem',
                        errorList: [
                            {
                                text: 'You must give a reason why there are unresolved appeals for all primary school classes',
                                href: '#p-lodged-query-all-error'
                            } if hasAllError,
                            {
                                text: 'You must give a reason why there are unresolved appeals for infant classes',
                                href: '#p-lodged-query-infant-error'
                            } if hasInfantError
                        ]
                    }) }}

                {% endif %}

                <span class="govuk-caption-xl">Primary schools</span>
                <h1 class="govuk-heading-l">Check the appeals that were withdrawn or heard by an appeals panel against the total that were lodged</h1>

                <h2 class="govuk-heading-m">All classes</h2>

                {{ 
                    govukSummaryList ({
                        rows: [
                            {
                                key: {
                                    text: 'Withdrawn'
                                },
                                value: {
                                    text: data['p-withdrawn-all'] | friendlyNumber
                                },
                                actions: {
                                    items: [
                                        {
                                            text: 'Change',
                                            classes: 'govuk-link--no-visited-state',
                                            href: 'withdrawn.html?from-p-lodged-totals=true',
                                            visuallyHiddenText: 'withdrawn'
                                        }
                                    ]
                                }
                            },
                            {
                                key: {
                                    text: 'Heard'
                                },
                                value: {
                                    text: data['p-heard-all'] | friendlyNumber
                                },
                                actions: {
                                    items: [
                                        {
                                            text: 'Change',
                                            classes: 'govuk-link--no-visited-state',
                                            href: 'heard.html?from-p-lodged-totals=true',
                                            visuallyHiddenText: 'heard'
                                        }
                                    ]
                                }
                            },
                            {
                                key: {
                                    text: 'Total actioned'
                                },
                                value: {
                                    html: ('<i class="error-flag">!</i>' if allClassesError) +('<i class="query-flag">?</i>' if allClassesQuery) + [data['p-withdrawn-all'], data['p-heard-all']] | stringSum | friendlyNumber
                                }
                            }
                        }
                    })
                }}

                {{
                    govukSummaryList ({
                        rows: [
                            {
                                key: {
                                    text: 'Appeals lodged'
                                },
                                value: {
                                    html: ('<i class="error-flag">!</i>' if allClassesError) +('<i class="query-flag">?</i>' if allClassesQuery) + data['p-lodged-all'] | friendlyNumber
                                },
                                actions: {
                                    items: [
                                        {
                                            text: 'Change',
                                            classes: 'govuk-link--no-visited-state',
                                            href: 'lodged.html?from-p-lodged-totals=true',
                                            visuallyHiddenText: 'total lodged'
                                        }
                                    ]
                                }
                            }
                        }
                    })
                }}

                {% if not allClassesFine %}

                    {% if allClassesQuery %}

                        {% if not allClassesError and not infantClassesError %}

                            {{ govukTextarea({
                                id: 'p-lodged-query-all',
                                name: 'p-lodged-query-all',
                                value: data['p-lodged-query-all'] if data['p-lodged-query-all'] else '',
                                errorMessage: {
                                    text: 'You must give a reason why the number of appeals for all primary school classes doesn’t match the number of outcomes'
                                } if hasAllError,
                                label: {
                                    text: 'Explain why there were ' + (data['p-lodged-all'] | int - [data['p-withdrawn-all'], data['p-heard-all']] | stringSum) | friendlyNumber + ' unresolved appeals for all classes'
                                }
                            }) }}

                        {% else %}

                            <p>
                                There are {{ (data['p-lodged-all'] | int - [data['p-withdrawn-all'], data['p-heard-all']] | stringSum) | friendlyNumber }} unresolved appeals for all primary school classes
                            </p>

                        {% endif %}

                    {% endif %}

                    {% if allClassesError %}

                        {{ govukErrorMessage({
                            text: 'There cannot be more appeals actioned than the number lodged, you must fix this before you can continue',
                            visuallyHiddenText: 'Error'
                        }) }}

                    {% endif %}

                {% endif %}

                <h2 class="govuk-heading-m">Infant classes</h2>

                {{ govukSummaryList ({
                    rows: [
                        {
                            key: {
                                text: 'Withdrawn'
                            },
                            value: {
                                text: data['p-withdrawn-infant'] | friendlyNumber
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        classes: 'govuk-link--no-visited-state',
                                        href: 'withdrawn.html?from-p-lodged-totals=true',
                                        visuallyHiddenText: 'withdrawn'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Heard'
                            },
                            value: {
                                text: data['p-heard-infant'] | friendlyNumber
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        classes: 'govuk-link--no-visited-state',
                                        href: 'heard.html?from-p-lodged-totals=true',
                                        visuallyHiddenText: 'heard'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Total actioned'
                            },
                            value: {
                                html: ('<i class="error-flag">!</i>' if infantClassesError) +('<i class="query-flag">?</i>' if infantClassesQuery) + [data['p-withdrawn-infant'], data['p-heard-infant']] | stringSum | friendlyNumber
                            }
                        }
                    }
                }) }}

                {{ govukSummaryList ({
                    rows: [
                        {
                            key: {
                                text: 'Appeals lodged'
                            },
                            value: {
                                html: ('<i class="error-flag">!</i>' if infantClassesError) + ('<i class="query-flag">?</i>' if infantClassesQuery) + data['p-lodged-infant'] | friendlyNumber
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        classes: 'govuk-link--no-visited-state',
                                        href: 'lodged.html?from-p-lodged-totals=true',
                                        visuallyHiddenText: 'total lodged'
                                    }
                                ]
                            }
                        }
                    }
                }) }}

                {% if not infantClassesFine %}

                    {% if infantClassesQuery %}

                        {% if not allClassesError and not infantClassesError %}

                            {{ govukTextarea({
                                id: 'p-lodged-query-infant',
                                name: 'p-lodged-query-infant',
                                value: data['p-lodged-query-infant'] if data['p-lodged-query-infant'] else '',
                                errorMessage: {
                                    text: 'You must give a reason why there are unresolved appeals for infant classes'
                                } if hasInfantError,
                                label: {
                                    text: 'Explain why there were ' + (data['p-lodged-infant'] | int - [data['p-withdrawn-infant'], data['p-heard-infant']] | stringSum) | friendlyNumber + ' unresolved appeals for infant classes'
                                }
                            }) }}

                        {% else %}

                            <p>There are {{ (data['p-lodged-infant'] | int - [data['p-withdrawn-infant'], data['p-heard-infant']] | stringSum) | friendlyNumber }} unresolved appeals for infant classes</p>

                        {% endif %}

                    {% endif %}

                    {% if infantClassesError %}

                        {{ govukErrorMessage({
                            text: 'There cannot be more appeals actioned than the number lodged, you must fix this before you can continue',
                            visuallyHiddenText: 'Error'
                        }) }}

                    {% endif %}

                {% endif %}

                <input type="hidden" name="success-page" value="{{ '#root#/primary/check-outcomes.html' if data['from-p-outcome-totals'] == 'true' else '#root#/primary/in-favour.html' }}">
                
                {% if not allClassesError and not infantClassesError %}

                    {{ govukButton ({
                        html: 'Continue'
                    }) }}

                {% endif %}

            </form>

        </div>

</div>

{% endblock %}