{% extends 'layout.html' %}

{% block pageTitle %}
    How many appeals were decided in favour of parents?
{% endblock %}

{% block beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="/validate-subset" method="POST">

                {% set hasError = data['subsetError'] == 'true' %}
                {% if hasError %}
                    {{
                        govukErrorSummary({
                            titleText: 'There is a problem',
                            errorList: [
                                {
                                    text:
                                        'There cannot be more appeals lodged for infant classes than all primary school classes combined',
                                    href: '#p-lodged-infant-error'
                                }
                            ]
                        })
                    }}
                {% endif %}

                <span class="govuk-caption-xl">Primary schools</span>
                <h1 class="govuk-heading-xl">How many appeals were decided in favour of parents?</h1>

                {% set allRefNumber = (data['p-lodged-all'] | int - data['p-withdrawn-all'] | int) %}
                {% set infantRefNumber = (data['p-lodged-infant'] | int - data['p-withdrawn-infant'] | int) %}

                {{ govukInput ({
                    id: 'p-in-favour-all',
                    name: 'p-in-favour-all',
                    value: data['p-in-favour-all'] if data['p-in-favour-all'] else '',
                    classes: 'govuk-input--width-5',
                    hint: {
                        text: 'Based on what you have told us, it appears there were ' + allRefNumber | friendlyNumber + ' appeals lodged for all primary school classes that have not been withdrawn'
                    } if false,
                    label: {
                        text: 'For all primary school classes'
                    }
                }) }}

                {{ govukInput ({
                    id: 'p-in-favour-infant',
                    name: 'p-in-favour-infant',
                    value: data['p-in-favour-infant'] if data['p-in-favour-infant'] else '',
                    classes: 'govuk-input--width-5',
                    hint: {
                        text: 'Based on what you have told us, it appears there were ' + infantRefNumber | friendlyNumber + ' appeals lodged for infant classes that have not been withdrawn'
                    } if false,
                    type: 'number',
                    errorMessage: {
                        text: 'There cannot be more appeals found in favour for infant classes than all primary school classes combined'
                    } if hasError,
                    label: {
                        text: 'For infant classes only'
                    }
                }) }}


                <input type="hidden" name="success-page" value="{{ '#root#/primary/check-heard.html' if data['from-p-outcome-totals'] == 'true' else '#root#/primary/rejected.html' }}" />


                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}