{% extends 'layout.html' %} {% block pageTitle %} How many of these lodged
appeals were withdrawn before reaching an appeals panel? {% endblock %} {% block
beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="/validate-subset" method="POST">
			{% set hasError = data['subsetError'] == 'true' %} {% if hasError %}
			{{
				govukErrorSummary({
					titleText: 'There is a problem',
					errorList: [
						{
							text:
								'There cannot be more withdrawn appeals for infant classes than all primary school classes combined',
							href: '#p-withdrawn-infant-error'
						}
					]
				})
			}}
			{% endif%}

			<span class="govuk-caption-xl">Primary schools</span>
			<h1 class="govuk-heading-xl">
				How many of the appeals lodged were withdrawn before reaching an appeals
				panel?
			</h1>

			{{
				govukInsetText({
					text:
						'Include appeals that were no longer needed because a school place was offered before a hearing.'
				})
			}}

			{% set allRefNumber = data['p-lodged-all'] | int %} {% set infantRefNumber
			= data['p-lodged-infant'] | int %}

			{{ govukInput ({
                    id: 'p-withdrawn-all',
                    name: 'p-withdrawn-all',
                    value: data['p-withdrawn-all'] if data['p-withdrawn-all'] else '',
                    classes: 'govuk-input--width-5',
                    hint: {
                        text: 'You have told us there were ' + allRefNumber | friendlyNumber + ' appeals lodged for all primary school classes'
                    } if allRefNumber > 1,
                    type: 'number',
                    label: {
                        text: 'For all primary school classes'
                    }
                }) }}

			{{ govukInput ({
                    id: 'p-withdrawn-infant',
                    name: 'p-withdrawn-infant',
                    value: data['p-withdrawn-infant'] if data['p-withdrawn-infant'] else '',
                    classes: 'govuk-input--width-5',
                    hint: {
                        text: 'You have told us there were ' + infantRefNumber | friendlyNumber + ' appeals lodged for infant classes'
                    } if infantRefNumber > 1,
                    type: 'number',
                    errorMessage: {
                        text: 'There cannot be more withdrawn appeals for infant classes than all primary school classes combined'
                    } if hasError,
                    label: {
                        text: 'For infant classes only'
                    }
                }) }}

			<input
				type="hidden"
				name="success-page"
				value="{{ '#root#/primary/check-outcomes.html' if data['from-p-outcome-totals'] == 'true' else '#root#/primary/in-favour.html' }}"
			/>

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

{% endblock %}
