{% extends 'layout.html' %} {% block pageTitle %} Does your local authority have
any voluntary-controlled or community primary schools? {% endblock %} {% block
beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<span class="govuk-caption-xl">Primary schools</span>
			<h1 class="govuk-heading-xl">
				Does your local authority have any voluntary-controlled or community
				primary schools?
			</h1>

			{{
				govukInsetText({
					text:
						'This includes any voluntary-controlled or community middle schools deemed as primary schools.'
				})
			}}

			{{
				govukRadios({
					classes: 'govuk-radios--inline',
					idPrefix: 'any-primary',
					name: 'any-primary',
					fieldset: {
						legend: {
							text:
								'Does your local authority have any voluntary-controlled or community primary schools?',
							isPageHeading: true,
							classes: 'govuk-visually-hidden'
						}
					},
					items: [
						{
							text: 'Yes',
							value: 'yes'
						},
						{
							text: 'No',
							value: 'no'
						}
					]
				})
			}}

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

<script>
	var nextPageRoutes = {
		yes:
			'{{ "../check-your-answers.html" if data["any-primary"] == "yes" and data["from-check"] == "true" else "lodged.html" }}',
		no:
			'{{ "../check-your-answers.html" if data["from-check"] == "true" else "../secondary/any-schools.html" }}'
	}
</script>

{% endblock %}
